<ion-view view-title="Options">
    <ion-content class="padding">
        <button class="button button-block button-positive" ui-sref="makeTeam">
            Games
        </button>
        <button class="button button-block button-positive" ui-sref="makeTeam">
            Make team
        </button>
        <button class="button button-block button-positive" ui-sref="joinTeam">
            Join team
        </button>
        <button class="button button-block button-positive" ui-sref="">
            Switch teams
        </button>
        <button class="button button-block button-positive" ui-sref="">
            View current team
        </button>
        <button class="button button-block button-positive" ui-sref="">
            opponents
        </button>
        <button class="button" ng-click="logout()">
            Logout
        </button>
    </ion-content>
</ion-view>